.spe-div-menu {
  background: #1d285d;
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
     > a {
      min-width: 56px;
      text-align: center;
      color: #fff;
    }
  }
  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-item-selected {
    background: rgba(0, 0, 0, 0.3);
  }
}
