<div
  class="loc-chart"
  *ngIf="type === '图表'"
  echarts
  [options]="chartOption"
></div>

<div class="loc-table com-scrollbar" *ngIf="type === '列表'">
  <p-table
    [columns]="tableCols"
    [value]="tableData"
    [scrollable]="true"
    scrollHeight="200px"
    styleClass="loc-ptable"
    tableStyleClass="spec-ptable-content"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ rowData[col.field] }}</td>
      </tr>
    </ng-template>
  </p-table>
  <!-- <nz-table
    #basicTable
    [nzData]="tableData"
    class="spec-table spec-unselected"
    nzShowPagination="false"
    [nzScroll]="{ y: '200px' }"
  >
    <thead>
      <tr>
        <th>资源类别</th>
        <th>严重告警</th>
        <th>重要告警</th>
        <th>次要告警</th>
        <th>提示告警</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td style="width: 20%;">{{ data.name }}</td>
        <td style="width: 20%;">{{ data.alarm1 }}</td>
        <td style="width: 20%;">{{ data.alarm2 }}</td>
        <td style="width: 20%;">{{ data.alarm3 }}</td>
        <td style="width: 20%;">{{ data.alarm4 }}</td>
      </tr>
    </tbody>
  </nz-table> -->
</div>
