<div
  class="loc-chart"
  *ngIf="type === '图表'"
  echarts
  [options]="chartOption"
></div>

<div class="loc-table" *ngIf="type === '列表'">
  <!-- <p-table
    [columns]="tableCols"
    [value]="tableData"
    [scrollable]="true"
    scrollHeight="200px"
    styleClass="loc-ptable"
    tableStyleClass="spec-ptable-content"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ rowData[col.field] }}</td>
      </tr>
    </ng-template>
  </p-table> -->
</div>
