<div class="loc-monitor-screen">
  <div class="loc-title-form">
    <span class="loc-title">监控大屏&nbsp;&nbsp;{{ time }}</span>
  </div>
  <div class="loc-content">
    <div class="loc-content-form loc-top-form loc-small-form">
      <div class="loc-content-title">设备状态统计</div>
      <div class="loc-chart-form" echarts [options]="pieOption1"></div>
      <div class="loc-color-angle loc-div-top"></div>
      <div class="loc-color-angle loc-div-right"></div>
      <div class="loc-color-angle loc-div-bottom"></div>
      <div class="loc-color-angle loc-div-left"></div>
    </div>
    <div class="loc-content-form loc-top-form loc-large-form">
      <div class="loc-content-title">物理拓扑图</div>
      <div class="loc-color-angle loc-div-top"></div>
      <div class="loc-color-angle loc-div-right"></div>
      <div class="loc-color-angle loc-div-bottom"></div>
      <div class="loc-color-angle loc-div-left"></div>
    </div>
    <div class="loc-content-form loc-top-form loc-small-form">
      <div class="loc-content-title">告警统计</div>
      <div class="loc-chart-form" echarts [options]="pieOption2"></div>
      <div class="loc-color-angle loc-div-top"></div>
      <div class="loc-color-angle loc-div-right"></div>
      <div class="loc-color-angle loc-div-bottom"></div>
      <div class="loc-color-angle loc-div-left"></div>
    </div>
    <div class="loc-content-form loc-bottom-form loc-small-form">
      <div class="loc-content-title">关注资源</div>
      <div class="loc-chart-form loc-table">
        <nz-table
          #basicTable1
          [nzData]="tableData"
          class="spec-table loc-monitor-table spec-unselected"
          nzShowPagination="false"
        >
          <thead>
            <tr>
              <th>显示名称</th>
              <th>IP地址</th>
              <th>CPU</th>
              <th>内存</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable1.data">
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <td>{{ data.cpu }}</td>
              <td>{{ data.memory }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="loc-color-angle loc-div-top"></div>
      <div class="loc-color-angle loc-div-right"></div>
      <div class="loc-color-angle loc-div-bottom"></div>
      <div class="loc-color-angle loc-div-left"></div>
    </div>
    <div class="loc-content-form loc-bottom-form loc-large-form">
      <div class="loc-content-title">告警列表</div>
      <div class="loc-chart-form loc-table">
        <nz-table
          #basicTable2
          [nzData]="tableData2"
          class="spec-table loc-monitor-table spec-unselected"
          nzShowPagination="false"
        >
          <thead>
            <tr>
              <th style="width: 15%;">显示名称</th>
              <th style="width: 35%;">告警内容</th>
              <th>IP地址</th>
              <th>产生时间</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable2.data">
              <td class="com-txt-overflow">{{ data.name }}</td>
              <td class="com-txt-overflow">{{ data.content }}</td>
              <td class="com-txt-overflow">{{ data.address }}</td>
              <td class="com-txt-overflow">{{ data.date }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="loc-color-angle loc-div-top"></div>
      <div class="loc-color-angle loc-div-right"></div>
      <div class="loc-color-angle loc-div-bottom"></div>
      <div class="loc-color-angle loc-div-left"></div>
    </div>
    <div class="loc-content-form loc-bottom-form loc-small-form">
      <div class="loc-content-title">链路流量统计</div>
      <div class="loc-chart-form loc-table">
        <nz-table
          #basicTable3
          [nzData]="tableData3"
          class="spec-table loc-monitor-table spec-unselected"
          nzShowPagination="false"
        >
          <thead>
            <tr>
              <th>设备名称</th>
              <th>接口名称</th>
              <th>流入流量</th>
              <th>流出流量</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable3.data">
              <td>{{ data.name }}</td>
              <td>{{ data.interName }}</td>
              <td>{{ data.inFlow }}</td>
              <td>{{ data.outFlow }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="loc-color-angle loc-div-top"></div>
      <div class="loc-color-angle loc-div-right"></div>
      <div class="loc-color-angle loc-div-bottom"></div>
      <div class="loc-color-angle loc-div-left"></div>
    </div>
  </div>
</div>
