<div class="loc-line-form">
  <div class="loc-col-form loc-small">
    <app-home-div-menu menuName="告警统计"></app-home-div-menu>
  </div>
  <div class="loc-col-form loc-large"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
  <div class="loc-col-form"></div>
</div>
