<div
  class="loc-chart"
  *ngIf="type === '图表'"
  echarts
  [options]="chartOption"
></div>

<div class="loc-table" *ngIf="type === '列表'">
  <nz-table
    #basicTable
    [nzData]="tableData"
    class="spec-table spec-unselected"
    nzShowPagination="false"
    [nzScroll]="{ y: '200px' }"
  >
    <thead>
      <tr>
        <th>告警级别</th>
        <th>告警数量</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td style="width: 50%">{{ data.name }}</td>
        <td>{{ data.value }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
